/* Changing Color Of The Ripple Effect*/
.waves-effect.waves-light-blue .waves-ripple {
   /* The alpha value allows the text and background color
   of the button to still show through. */
    background-color: rgba(187, 222, 251, 0.65);
  }
/* Adding A Marginless-Bottom To The Row In The Login*/
.margin-less {
  margin-bottom: 0px;
}
/* Adding A Paddingless-Bottom To The Modal-Content In The Login*/
.padding-less {
  padding-bottom: 0px;
}
/* Adding A Hidden Visibility To The Login Contents And Footers*/
.hidden-visibility {
  visibility: hidden;
}
/* Adding A No Border To The Button*/
.border-less {
  border: none;
}
/* Adding A Comic Sans MS Font To The Capitum Title Section*/
.title-font {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* Adding A Card Border With A Radius To The Information Cards Section Content*/
.card-border {
  border-radius: 10px;
}
/* Adding A Center In The Vertical Direction For The Information Cardss Section Content*/
.center-vertical {
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
} 
