/* Changing Color Of The Ripple Effect*/
.waves-effect.waves-light-blue .waves-ripple {
   /* The alpha value allows the text and background color
   of the button to still show through. */
    background-color: rgba(187, 222, 251, 0.65);
  }
/* Adding A Marginless-Bottom To The Row In The Login*/
.margin-less {
  margin-bottom: 0px;
}
/* Adding A Paddingless-Bottom To The Modal-Content In The Login*/
.padding-less-bottom {
  padding-bottom: 0px;
}
/* Adding A PaddingLess-Left To The Example Cards Poll Information Section Content Content*/
.padding-less-left {
  padding-left: 0px;
}
/* Adding A Hidden Visibility To The Login Contents And Footers*/
.hidden-visibility {
  visibility: hidden;
}
/* Adding A No Border To The Button*/
.border-less {
  border: none;
}
/* Adding A Comic Sans MS Font To The Capitum Title Section*/
.title-font {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* Adding A Card Border With A Radius To The Information Cards Section Content*/
.card-border {
  border-radius: 10px;
}
/* Adding A Center In The Vertical Direction For The Information Cardss Section Content*/
.center-vertical {
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
/* Adding A An Inline-Block Element To The Example Cards Information Section Content Content*/
.inline-block {
  display: inline-block;
}
/* Adding A Margin-Top-32px Margin To The Top Of The Card*/
.margin-top-32 {
  margin-top: 32px;
}
/* Adding A Margin-Top-48px Margin To The Top Of The Card*/
.margin-top-48 {
  margin-top: 48px;
}
/* Use Media Query to add a breakpoint at 800px: */
@media screen and (max-width:604px) {
  .margin-top-32 , .margin-top-48 {margin-top: 0px;}
} 
